.itemsWrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  gap: 40px;
  width: 200px;
  margin-top: 25px;
}

.itemBtn {
  width: 100%;
}

.alert {
  margin-top: 40px;
  text-align: center;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.img {
  width: 55px;
  height: 55px;
}

.linkToMainWrapper {
  text-align: center;
  padding-top: 15px;
}

.linkToMain {
  background: linear-gradient(to right, #562268, #0d6efd);
  background-color: #562268;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 28px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}

.linkToMain:hover {
  background: linear-gradient(to right, #522063, #0c68f0);
  background-color: #522063;
}

.linkToMain:active {
  transform: scale(0.95);
}