.item {
  display: flex !important;
  gap: 30px;
  margin-top: 35px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.img {
  width: 80px;
  height: 80px;
}