.cart {
  padding-bottom: 25px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.item {
  display: flex !important;
  gap: 30px;
  margin-top: 35px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.img {
  width: 55px;
  height: 55px;
}

.alert {
  text-align: center;
  margin-top: 40px;
}

.linkToMainWrapper {
  text-align: center;
  padding-top: 15px;
}

.linkToMain {
  background: linear-gradient(to right, #562268, #0d6efd);
  background-color: #562268;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 28px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}

.linkToMain:hover {
  background: linear-gradient(to right, #522063, #0c68f0);
  background-color: #522063;
}

.linkToMain:active {
  transform: scale(0.95);
}

.linkToForm__wrapper {
  margin-top: 35px;
}

.linkToForm {
  position: sticky;
  top: 35px;
  height: 50px;
  background: linear-gradient(to right, #562268, #0d6efd);
  background-color: #562268;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 28px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}

.linkToForm:hover {
  background: linear-gradient(to right, #522063, #0c68f0);
  background-color: #522063;
}

.linkToForm:active {
  transform: scale(0.95);
}

@media (max-width: 420px) {
  .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 7px;
  }

  .btnWrapper {
    justify-content: center !important;
  }

  .linkToForm {
    width: 100%;
    text-align: center;
  }
}