body {
  background: #1FA2FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

[data-theme='dark'] {
  background: #212121;
  color: #e8e8e8;
}

[data-theme='dark'] .Header_header__RaIlT {
  background: #1a1a1a;
}

[data-theme='dark'] .Footer_footer__dYp6m {
  background: #1a1a1a;
}

[data-theme='dark'] .AccordionC_accordionBody__dlhup {
  background: #1a1a1a;
}

[data-theme='dark'] .OffcanvasC_offcanvasBody__gWOS6 {
  background: #212121;
}

[data-theme='dark'] .OffcanvasC_offcanvasBody__gWOS6 a {
  color: black;
}

[data-theme='dark'] .OffcanvasC_offcanvas__hPWw4 button {}

a {
  text-decoration: none;
  border-bottom: 2px solid #12D8FA;
}

[data-theme='dark'] a {
  color: #e8e8e8;
  text-decoration: none;
  border-bottom: 2px solid #7cb342;
}

[data-theme='dark'] button {
  transition: 0.3s;
  background: #7a00ff;
}

[data-theme='dark'] button:hover {
  background: #490d89;
}

[data-theme='dark'] button:active {
  background: #fbc02d;
}

[data-theme='dark'] .page-item.active .page-link {
  background: #490d89;
  color: #ffffec;
}

[data-theme='dark'] .page-link {
  color: #1a1a1a;
}

[data-theme='dark'] .OrderForm_orderInfo__A3FN0 {
  color: #000;
}

[data-theme='dark'] .OrderForm_orderInfo__A3FN0 a {
  background: #7a00ff;
}

[data-theme='dark'] .OrderForm_orderFormInputBlock__uPEpf {
  background: #1a1a1a;
  color: #dee2e6;
}

[data-theme='dark'] .tooltip-inner {
  color: white;
  background: black;
}

.container {
  min-height: 100vh;
}

.tooltip-inner {
  color: black;
  background: white;
}

.err {
  color: #bf1650;
}

.err::before {
  display: inline;
  content: "⚠ ";
}