.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e8e8e8;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 30px;
}

.mainLinkWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img {
  width: 55px;
  height: 55px;
}