.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 35px;
  background-color: #e8e8e8;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.goToUp {
  background: linear-gradient(to right, #0d6efd, #562268);
  background-color: #562268;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 28px;
  border-radius: 10px;
  display: inline-block;
}

.goToUp:hover {
  background: linear-gradient(to right, #0c68f0, #522063);
  background-color: #522063;
}

.goToUp:active {
  transform: scale(0.95);
}

.goToUp {
  display: flex;
  align-items: center;
  gap: 10px;
}